<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <form class="col-5 login-container p-4 mt-5 rounded">
            <div class="form-group">
                <label for="email">Email address: </label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
