:root {
    --bg-banner: #283618;
    --border: #588157;
    --title: #000;
    --bg-comment: #dcdcdc;

}

html {
    font-size: 16px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 0;
}

/* -----------------banner styling----------------- */
.banner {
    font-size: 1.5rem;
    background-color: var(--bg-banner);
}

.logo {
    height: 5rem;
}

/* -----------------post styling----------------- */
.post {
    border: 3px solid var(--border);
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    color: var(--title);
}

.owner {
    font-size: 1rem;
    padding-left: 1rem;
}

/* -----------------comment styling----------------- */
.comment-form{
    background-color: #ccd5ae;
}

.comment-form label{
    font-size: 1.2rem;
}

.comment{
    background-color: var(--bg-comment);
    padding: 0.5rem;
}

/*  -----------------login page styling ----------------- */
.login-container {
    background-color: var(--bg-banner);
    color: #fff;
}

